/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Source+Code+Pro&display=swap');


* {
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: larger;
}

#highscores {
    color: #1e90ff;
}

#timer {
    color: #cd5c5c;
}

main {
    font-family: 'Source Code Pro', monospace;
    display: block;
    margin: 100px auto;
    padding: 50px;
}

.quizTitle {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 2.5rem;
    text-align: center;
}

.quizInstructions {
    margin: 50px auto;
    text-align: center;
    font-size: 1.5rem;
    width: 75%;
    font-family: 'PT Sans Caption', sans-serif;
}

.buttonSection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button {
    margin: 5px;
    width: 125px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #1e90ff;
    background-color: #1e90ff;
    color: #fffaf0;
    font-size: 1.25rem;
    
}

#startQuizButton:hover,
#tryAgain:hover {
    background-color: #57a657;
    border: 3px solid #57a657;
}

#quizContainer {
    padding: 15px;
}

.questionTextContainer {
    padding: 15px;
}

.questionOptions {
    margin-top: 25px;
    padding: 15px;
}

.questionOptions p {
    margin-bottom: 20px;
    background-color: #1e90ff;
    color: #fffaf0;
    border-radius: 5px;
    padding: 25px;
    transition: all .2s ease-in-out;
    justify-content: center;
}

.questionOptions p:hover {
    background-color: rgb(30, 144, 255, 0.75);
    transform: scale(1.05); 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.copyright {
    text-align: center;
}